.contact{
    width: 100%;
    margin-top: 100px;
    &__body{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &-block{
            display: flex;
            flex-direction: column;
            gap: 30px;
            &-item{
                display: flex;
                gap: 25px;
                align-items: center;
                background: #F2F2F2;
                border-radius: 14px;
                padding: 33px 19.5px;
                width: 410px;
                &-icon{
                    border-radius: 10px;
                    background: #FFB43C;
                    width: 64px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                }
                &-info{
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    span{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.07px;
                        text-align: left;
                        color: #868686;
                    }
                    p{
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 27.24px;
                        text-align: left;
                        color: var(--text);
                    }
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 27.24px;
                        text-align: left;
                        color: var(--text);
                    }
                }
            }
        }
        iframe{
            width: 855px;
            height: 451px;
            border-radius: 24px;
        }
    }
}