<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <a href="" class="footer__body-logo">
                <img src="../images/dist/logo.png" alt="">
                <div class="footer__body-logo-text">
                    <span>PEREGORODKI.TOP</span>
                    <p>стеклянные перегородки</p>
                </div>
            </a>
            <div class="footer__body-copy">
                <p>ООО “СТСТРОЙ” ОГРН 1196313094240 ИНН 6330089079 КПП 633001001</p>
                <p>2024 © Все права защищены</p>
            </div>
        </div>
    </div>
</footer>