<section class="stage">
    <div class="container">
        <div class="stage__body">
            <h2 class="stage__body-title">
                Этапы работы
            </h2>
            <div class="stage__body-block">
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            01
                        </div>
                    </div>
                    <img src="../images/dist/stage/1.png" alt="">
                    <span>Ознакомьтесь с нашими <br>предложениями</span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            02
                        </div>
                    </div>
                    <img src="../images/dist/stage/2.png" alt="">
                    <span>Выберите подходящий<br>
                        вариант</span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            03
                        </div>
                    </div>
                    <img src="../images/dist/stage/3.png" alt="">
                    <span>
                        Свяжитесь <br>
                        с нами
                    </span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            04
                        </div>
                    </div>
                    <img src="../images/dist/stage/4.png" alt="">
                    <span>
                        Мы обсудим все <br>ваши пожелания
                    </span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            05
                        </div>
                    </div>
                    <img src="../images/dist/stage/5.png" alt="">
                    <span>
                        Разрабатываем <br>проект
                    </span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            06
                        </div>
                    </div>
                    <img src="../images/dist/stage/6.png" alt="">
                    <span>
                        Заключаем <br>договор
                    </span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            07
                        </div>
                    </div>
                    <img src="../images/dist/stage/7.png" alt="">
                    <span>
                        Закупка материала <br>на объект
                    </span>
                </div>
                <div class="stage__body-block-item">
                    <div class="stage__body-block-item-num">
                        <div class="circle">
                            08
                        </div>
                    </div>
                    <img src="../images/dist/stage/8.png" alt="">
                    <span>
                        Сдача<br>
                        объекта
                    </span>
                </div>
            </div>
            <div class="stage__body-desc">
                <p>Если вы хотите быстро и качественно - <span>обращайтесь к нам!</span></p>
                <svg width="99" height="44" viewBox="0 0 99 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.552095 40.4768L5.46122 43.5156L5.63827 37.7448L0.552095 40.4768ZM5.03123 41.1145C30.4045 41.6795 47.4645 38.3147 61.3232 31.4949C75.1732 24.6794 85.7791 14.434 98.2643 1.34521L97.5407 0.654984C85.0569 13.7423 74.5572 23.868 60.8816 30.5977C47.2147 37.3231 30.3292 40.6776 5.05349 40.1147L5.03123 41.1145Z" fill="black"/>
                </svg>   
            </div>
        </div>
    </div>
</section>