<section class="type">
    <div class="container">
        <div class="type__body">
            <h2 class="type__body-title">
                Виды СТЕКЛЯННЫХ ПЕРЕГОРОДОК
            </h2>
            <div class="type__body-block">
                <div class="type__body-block-item">
                    <div class="type__body-block-item-top">
                        <div class="type__body-block-item-top-image">
                            <img src="../images/dist/glass/1.png" alt="">
                            <span>от 5 100 руб/м2</span>
                        </div>
                        <div class="type__body-block-item-top-text">
                            <span>Стеклянные перегородки</span>
                            <p>
                                Стеклянные перегородки — конструкции из стекла с металлическими элементами различного
                                размера и оформления, которые используются для зонирования офисов и комнат в доме,
                                оформления торговых площадей. Мы изготавливаем перегородки из стекла любой сложности и
                                дизайна на заказ.
                            </p>
                        </div>
                    </div>
                    <div class="type__body-block-item-bot">
                        <div class="line"></div>
                        <button class="type__body-block-item-bot-btn btn__hover form__open">
                            Заказать
                        </button>
                    </div>
                </div>
                <div class="type__body-block-item">
                    <div class="type__body-block-item-top">
                        <div class="type__body-block-item-top-image">
                            <img src="../images/dist/glass/2.png" alt="">
                            <span>от 4 500 руб/м2</span>
                        </div>
                        <div class="type__body-block-item-top-text">
                            <span>Алюминиевые перегородки</span>
                            <p>
                                Алюминиевые перегородки с глухим заполнением из гипсовинила, стекла, МДФ или
                                ламинированного ДСП применяются в основном в офисах или при разделении кабинетов.
                                Двойное остекление обеспечивает необходимую звукоизоляцию и комфортные условия работы
                                даже в шумном офисе с большим количеством сотрудников
                            </p>
                        </div>
                    </div>
                    <div class="type__body-block-item-bot">
                        <div class="line"></div>
                        <button class="type__body-block-item-bot-btn btn__hover form__open">
                            Заказать
                        </button>
                    </div>
                </div>
                <div class="type__body-block-item">
                    <div class="type__body-block-item-top">
                        <div class="type__body-block-item-top-image">
                            <img src="../images/dist/glass/3.png" alt="">
                            <span>от 8 400 руб/м2</span>
                        </div>
                        <div class="type__body-block-item-top-text">
                            <span>Трансформируемые перегородки</span>
                            <p>
                                Трансформируемые перегородки фактически могут играть роль раздвижных стен, превращая
                                рабочие кабинеты в залы для переговоров и наоборот. Кроме этого, трансформируемые
                                перегородки могут заменить межкомнатные или балконные двери, создав многофункциональное
                                помещение.
                            </p>
                        </div>
                    </div>
                    <div class="type__body-block-item-bot">
                        <div class="line"></div>
                        <button class="type__body-block-item-bot-btn btn__hover form__open">
                            Заказать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>