<section class="write">
    <div class="container">
        <div class="write__body">
            <img src="../images/dist/write1.png" alt="">
            <div class="write__body-text">
                <span>Нужна консультация</span>
                <p>
                    Подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и
                    подготовим индивидуальное предложение!
                </p>
            </div>
            <button class="write__body-btn btn__hover-yellow">
                Обратный звонок
            </button>
        </div>
    </div>
</section>